.container {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: calibri;

  .address {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0, 0.6);

    .company-address {
      max-width: 15rem;
      text-align: left;
    }

    .client-address {
      max-width: 15rem;
      text-align: right;
      p {
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding: 0;
      }
    }

    h3 {
      color: rgb(0, 0, 0, 0.8);
      margin: 0.5rem 0;
    }
  }

  .table-container {
    .table-header {
      background-color: rgb(233, 248, 243);
    }
    h3 {
      margin: 3rem 1rem 1rem 1rem;
    }
    h4 {
      margin: 0;
    }
  }

  .invoice-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .status {
      margin-top: 2rem;
      width: 40%;
      height: 85%;
      border-radius: 50%;
      background-image: url("../../images/paid.png");
      background-size: cover;
    }

    .lower-table {
      width: fit-content;
      margin-top: 2rem;
      margin-right: 2rem;
      display: flex;
      justify-content: end;
    }

    .table-row {
      .table-cell {
        padding: 0.5rem;
        &:last-child {
          background-color: rgb(241, 241, 169);
        }
      }

      h4 {
        margin: 0;
      }
    }
  }

  .remarks {
    h4 {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    p {
      margin-left: 1rem;
    }
  }

  .share {
    justify-content: center;
    margin-top: 2rem;
    
    button {
      margin: 1rem;
    }
  }
}
