.App {
  display: flex;
  justify-content: center;
  max-width: 100%;

  .app-wrapper {
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
